mat-toolbar {
  margin-top: 8px;
  font-weight: 500;
}

mat-card {
  background-color: rgb(18, 19, 22);
  cursor: pointer;
}

.profile-picture {
  background-size: cover;
  min-height: 50px;
  min-width: 50px;
}

