$primary-color: rgb(227, 226, 230);
$secondary-color: rgb(171, 199, 255);

mat-toolbar {
  margin-top: 8px;
  font-weight: 500;
}

/* Estilos perfil usuario */
mat-card {
  background-color: rgb(18, 19, 22);
}

.profile-picture {
  background-size: cover;
  min-height: 120px;
  min-width: 120px;
}

.profile-picture button {
  background-color: $secondary-color;
  border: 3px solid rgb(18, 19, 22);
  width: 37px;
  height: 37px;
}

.profile-picture button input[type="file"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 1;
}

input[type="file"]::file-selector-button {
  cursor: pointer;
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.profile-picture button mat-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: rgb(18, 19, 22);
}

.profile-container mat-card-actions {
  padding-left: 16px;
}

.profile-container mat-card-actions button {
  border-radius: 4px;
  font-size: 16px;
  width: 165px;
}

/* Estilos posts usuario */
.profile-posts-container mat-card-title {
  font-size: 18px;
}

.profile-posts-container mat-card-subtitle {
  font-size: 12px;
}

.profile-posts-container mat-card-content h1 {
  font-size: 18px;
  margin-bottom: 1px;
}

.post-image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px 16px 0px 16px;
}

.post-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.profile-posts-container mat-card-actions button mat-icon {
  width: 25px;
  height: 25px;
  font-size: 25px;
}

.profile-picture {
  background-size: cover;
  min-height: 120px;
  min-width: 120px;
}

.profile-picture-post {
  background-size: cover;
}
