<mat-toolbar>
  <span>Perfil</span>
</mat-toolbar>

<div class="profile-container">
  <mat-card *ngIf="user" class="mt-2">
    <mat-card-header>
      <div
        mat-card-avatar
        class="profile-picture d-flex justify-content-end align-items-end"
        [ngStyle]="{ 'background-image': 'url(' + profilePicture + ')' }"
      >
        <button
          mat-icon-button
          class="d-flex justify-content-center align-items-center"
        >
          <mat-icon>photo_camera</mat-icon>
          <input type="file" (change)="onFileSelected($event)" />
        </button>
      </div>
      <mat-card-title>{{ user.username }}</mat-card-title>
      <mat-card-subtitle>{{ user.full_name }}</mat-card-subtitle>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ user?.description || "Cuéntale a la comunidad sobre ti." }}
    </mat-card-content>
    <mat-card-actions class="mt-4">
      <button mat-flat-button class="me-2" (click)="editProfile()">
        <mat-icon>edit</mat-icon>Editar perfil
      </button>
      <button mat-flat-button (click)="logout()">
        <mat-icon>logout</mat-icon>Cerrar sesión
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="posts.length === 0" class="mt-4 text-center">
  <p>Crea tu primera publicación en Watchable</p>
</div>

<div class="profile-posts-container">
  <mat-card *ngFor="let post of posts" class="mt-2 mb-2">
    <mat-card-header>
      <mat-card-subtitle>{{
        post.create_date | date : "short"
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h1>{{ post.title }}</h1>
      <p>{{ post.body }}</p>
    </mat-card-content>
    <div *ngIf="post.image" class="post-image-container">
      <img
        [src]="'https://watchable-backend.onrender.com/' + post.image"
        class="post-image mt-2"
      />
    </div>
    <mat-card-actions>
      <div class="d-flex align-items-center me-2">
        <button mat-icon-button (click)="toggleLike(post)">
          <mat-icon *ngIf="post.userLike; else noLike">favorite</mat-icon>
          <ng-template #noLike>
            <mat-icon>favorite_border</mat-icon>
          </ng-template>
        </button>
        <span>{{ post.likesCount }}</span>
      </div>

      <div class="d-flex align-items-center">
        <button mat-icon-button (click)="openCommentDialog(post)">
          <mat-icon>chat_bubble_outline</mat-icon>
        </button>
        <span>{{ post.commentsCount }}</span>
      </div>
    </mat-card-actions>
    <mat-divider></mat-divider>
  </mat-card>
</div>
