$primary-color: rgb(227, 226, 230);
$secondary-color: rgb(171, 199, 255);

mat-card {
  border: none;
  width: 300px;
}

mat-icon {
  width: 100px;
  height: 100px;
  font-size: 100px;
  color: $secondary-color;
}

button {
  border-radius: 4px;
  font-size: 16px;
}

p {
  font-family: 'Roboto';
}

p a {
  color: $secondary-color;
  cursor: pointer;
  font-weight: 500;
}

p a:hover {
  color: $secondary-color;
  text-decoration: underline;
}
